Kerry.ITS/Service References/JobFactoryServiceReference/JobFactory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobNO">
        <s:complexType />
      </s:element>
      <s:element name="GetJobNOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJobNOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCreateDateViaShpNO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shpNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCreateDateViaShpNOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCreateDateViaShpNOResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetJobNOSoapIn">
    <wsdl:part name="parameters" element="tns:GetJobNO" />
  </wsdl:message>
  <wsdl:message name="GetJobNOSoapOut">
    <wsdl:part name="parameters" element="tns:GetJobNOResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCreateDateViaShpNOSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCreateDateViaShpNO" />
  </wsdl:message>
  <wsdl:message name="UpdateCreateDateViaShpNOSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCreateDateViaShpNOResponse" />
  </wsdl:message>
  <wsdl:portType name="JobFactorySoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJobNO">
      <wsdl:input message="tns:GetJobNOSoapIn" />
      <wsdl:output message="tns:GetJobNOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCreateDateViaShpNO">
      <wsdl:input message="tns:UpdateCreateDateViaShpNOSoapIn" />
      <wsdl:output message="tns:UpdateCreateDateViaShpNOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JobFactorySoap" type="tns:JobFactorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobNO">
      <soap:operation soapAction="http://tempuri.org/GetJobNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCreateDateViaShpNO">
      <soap:operation soapAction="http://tempuri.org/UpdateCreateDateViaShpNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JobFactorySoap12" type="tns:JobFactorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobNO">
      <soap12:operation soapAction="http://tempuri.org/GetJobNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCreateDateViaShpNO">
      <soap12:operation soapAction="http://tempuri.org/UpdateCreateDateViaShpNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobFactory">
    <wsdl:port name="JobFactorySoap" binding="tns:JobFactorySoap">
      <soap:address location="http://localhost:57990/JobFactory.asmx" />
    </wsdl:port>
    <wsdl:port name="JobFactorySoap12" binding="tns:JobFactorySoap12">
      <soap12:address location="http://localhost:57990/JobFactory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>